.movie {
  background-color: #217DA5;
  height: 299px;
  width: 203px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.button {
  padding: 0px;
  border: 0px;
  border-radius: 5px;
}

.image {
  height: 299px;
  width: 203px;
  padding: 0px;
  margin: 0px;
}

.photo {
  height: 299px;
  width: 209px;
  margin: 0px;
  border-radius: 5px;
}

.movie:hover {
  /* border: 1px solid #F4C708; */
  opacity: 0.8;
}
