.popover {
  /* display: inline-block; */
  align-items: center;
}

.popoverButton {
  border: 0px;
  padding: 0px;
  border-radius: 5px;
  height: 300px;
  width: 200px;
  display: inline-flex;
  margin: 10px;
  position: relative;
}


.photo {
  height: 299px;
  width: 209px;
  margin: 0px;
  border-radius: 5px;
}

.popoverButton:hover {
  opacity: 0.8;
}
