.container {
  background-color: #F4C708;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 19px;
  position: absolute;
  z-index: 1;
  right: 0px;
  left: 0px;
  height: 150px;
}

.photo {
  position: relative;
}

.data {
  background-color: #217DA5;
  color: white;
  padding: 0px 19px;
}

.dataUp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  font-size: 40px;
  font-weight: bold;
  margin-right: 15px;
}

.year {
  font-size: 22px;
  font-weight: bold;
}

.dataUp > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

.dataDown {
  display: flex;
  justify-content: left;
}

.deleteButton {
  height: 24px;
  width: 24px;
  padding: 0px;
  border: 0px;
  background-color: transparent;
  margin-left: 15px;
}

.deleteButton:hover {
  opacity: 0.8;
}
