.container {
  background-color: #F4C708;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 19px;
  position: absolute;
  z-index: 1;
  right: 0px;
  left: 0px;
  height: 150px;
}

.photo {
  background-color: #89BFCC;
  display: flex;
  padding: 20px;
  /* width: 100%; */
  justify-content: space-around;
  align-items: center;
  /* position: relative; */
}

.data {
  background-color: #217DA5;
  /* display: grid;
  grid-template-rows: 1fr 1fr 1fr; */
  color: white;
  padding: 0px 19px;
  /* overflow-x: hidden; */
  /* width: 100%; */

}

.dataUp {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  /* display: flex; */
  /* justify-content: space-between; */
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.dataDown {
  display: flex;
  justify-content: left;
}

.submitButton button:hover:not(:disabled) {
  opacity: 0.8;
}

.submitButton {
  text-align: right;
  padding: 5px;
}

.submitButton button {
  background-color: #F4C708;
  border: 0px;
  color: #217DA5;
  border-radius: 5px;
  font-weight: bold;
  width: 172px;
  height: 25px;
  text-transform: uppercase;
}

.submitButton button:disabled {
  opacity: 0.5;
}

.name {
  font-size: 40px;
}

.year {
  font-size: 17px;
}

.description {
  font-size: 15px;
  width: 100%;
}

.myInput {
  background-color: transparent;
  border: 0px;
  color: #89BFCC;
  font-style: italic;
}

.myInput::placeholder {
  color: #89BFCC;
  font-weight: bold;
}

.myInput:focus {
  outline: none;
}

.link {
  display: none;
}

.data input::-webkit-outer-spin-button, .data input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.upload {
  text-align: center;
}

.upload div {
  font-style: italic;
  padding: 5px;
  font-weight: bold;
  color: #217DA5;
}

.upload button {
  background-color: #F4C708;
  border: 0px;
  color: #217DA5;
  border-radius: 5px;
  font-weight: bold;
  width: 172px;
  height: 25px;
  text-transform: uppercase;
} 

.upload button:hover {
  opacity: 0.8;
}
