.image {
  height: 76px;
  width: 76px;
}

.button {
  background-color: #217DA5;
  border-width: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 200px;
  border-radius: 5px;
  margin: 10px;
  display: inline-flex;
}

.button:hover {
  /* border: 1px solid #F4C708; */
  opacity: 0.8;
}
